[Desktop Entry]
Encoding=UTF-8
Name=Installer FlexOS
Comment=Installer FlexOS Linux sur votre ordinateur
Exec=sudo -E flexos-installer
Icon=drive-harddisk
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
