set default="0"
set timeout="15"

search --no-floppy --set=root --label FLEXOS_202606

menuentry "FlexOS Linux (XFCE Glassmorphism)" {
  linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archiso_checksum archisosearch=FlexOS rw quiet splash
  initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "FlexOS - Safe mode" {
  linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archiso_checksum archisosearch=FlexOS rw nomodeset
  initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "Boot from disk" {
  exit
}

menuentry "Reboot" {
  reboot
}

menuentry "Shutdown" {
  halt
}
