# FlexOS GRUB config
set default="0"
set timeout=15

if loadfont unicode ; then
  set gfxmode=1024x768x32
  set gfxpayload=keep
  insmod all_video
  insmod gfxterm
  insmod png
  terminal_output gfxterm
fi

menuentry "FlexOS Linux (XFCE Glassmorphism)" {
  linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archiso_checksum archisosearch=FlexOS root=/dev/disk/by-label/FLEXOS_* rw quiet splash
  initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "FlexOS - Mode sans échec" {
  linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archiso_checksum archisosearch=FlexOS root=/dev/disk/by-label/FLEXOS_* rw nomodeset
  initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "FlexOS - Nouveau (no modeset)" {
  linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archiso_checksum archisosearch=FlexOS root=/dev/disk/by-label/FLEXOS_* rw nouveau.modeset=0
  initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "Lancer depuis le disque dur" {
  exit
}

menuentry "Redémarrer" {
  reboot
}

menuentry "Éteindre" {
  halt
}
